.container{
    max-width: 1000px;
    margin: 40px auto;
    margin-top: 0px;
    padding: 30px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5rem;
}
#teamName1, #teamName2{
    font-size: 2rem;
    color: #3f2fc9;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}
button{
    font-size: 1.5rem;
    padding: 10px 20px;
    background: linear-gradient(135deg, hsl(10, 80%, 65%), hsl(240, 60%, 20%));
    color: hsl(190, 92%, 60%);
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 4px black;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(135deg, hsl(240, 60%, 20%), hsl(10, 80%, 65%));
    color: hsl(190, 100%, 70%);
    transform: scale(1.05);
}
#liveBtn{
    text-align: center;
    margin: 40px auto;
    margin-top: 0px;
    padding: 30px 20px;
    padding-bottom: 0px;
}